.vertical-nav-button {
  align-items: center;
  display: inline-flex;

  padding: 1rem;
  position: relative;
  
  border-bottom: 1px solid #b5b2ad;
}

.vertical-nav-button .label {
  color: var(--color-link);
  font-weight: 400;
}

.vertical-nav-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}