@tailwind utilities;

.root-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: #ffffff;
  width: 100%;
  
  line-height: 140%;
}

.root-container .body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root-container .body {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1200px;
}

.root-container .yellow-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffbe02;
}

.root-container .yellow-box {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.root-container .main-image {
  /* position: relative; */
  margin-bottom: 2rem;
}

.root-container .main-image img {
  width: 100%;
}

.root-container .carousel-container {
  max-width: min(36vw, calc(1200px * 0.78 - 18rem));
}

.carousel-container .carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-container .slick-dots {
  position: relative;
}

.carousel-container .carousel-button {
  position: relative;
  top: 0.5rem;

  font-size: 2em;
  vertical-align: middle;
}

@media screen and (max-width: 799px) {

  .root-container .carousel-container {
    max-width: 72vw;
  }
  
  .carousel-container .carousel-item {
    width: 72vw;
    height: 40vw;
  }
}

.carousel-container img, iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.root-container .header {
  display: flex;
  
  gap: min(1.5rem, 5%);

  padding: 1.5rem 0;
  height: 7.5rem;
}

.root-container .header img{
  height: 4.5rem;
}

@media screen and (min-width: 800px) {
  .root-container .header {
    border-bottom: 3px solid theme("colors.yonsei")
  }
}

.root-container .content-horizontal-flex {
  display: flex;
}

@media screen and (max-width: 799px) {
  .root-container .content-horizontal-flex {
    flex-direction: column;
  }
}

.root-container #desktop-nav-wrapper {
  width: 22%;
  flex-shrink: 0;
  overflow: visible;
}

@media screen and (max-width: 799px) {
  .root-container #desktop-nav-wrapper{
    display: none;
  }
}

.root-container #home-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  top: 3rem;
  padding: 2rem 0;
}

@supports (position: sticky) or (position: -webkit-sticky) {
  .root-container #home-nav {
    position: sticky;
  }
}

.root-container #other-nav {
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 3rem;
  padding: 0 1rem;
  margin-top: 0.5rem;

  border-top: 5px solid var(--color-yonsei);
  border-radius: 3px 3px 0 0;
}

.root-container .other-nav-home {
  color: var(--color-link);
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;

  padding: 1em 0;
  
  border-bottom: 1px solid #b5b2ad;
}

.root-container #content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4rem;
}

@media screen and (max-width: 799px) {
  .root-container #content {
    padding: 0 min(2rem, 5%);
  }
}

@media screen and (max-width: 799px) {
  .root-container section {
    scroll-margin-top: 4.4rem;
  }
}

.root-container .title-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.root-container .back-button-bar {
  padding: 4rem 0 1.5rem 0;
}

.root-container .back-button {
  color: var(--color-link);
  font-weight: 400;
  margin-bottom: 0.2em;
}

.root-container .back-button::before {
  display: inline-block;
  
  content: " ";
  background-color: var(--color-link);
  -webkit-mask-image: url("../icons/back.svg");
  mask-image: url("../icons/back.svg");
  background-size: contain;
  background-position: bottom;
  
  width: 1.5em;
  height: 1.5em;
  padding-right: 0.2rem;
  vertical-align: bottom;
}

.root-container .back-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.root-container .professor-small {
  align-self: flex-start;

  padding: 2rem 0.5rem;
  border-top: 2px solid rgb(120, 226, 218);
  border-bottom: 2px solid rgb(120, 226, 218);

  font-size: theme("fontSize.small");
  line-height: normal;
}

@media screen and (max-width: 799px) {
  .professor-small img {
    max-width: 95%;
  }
}

.root-container .list-people {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: min(2rem, 6%);
}

.root-container .list-publications {
  overflow: hidden;
  background-color: #FBF9F7;
  padding: 1.88rem;
  margin-left: -0.2rem;
  
  min-width: 0;
}

.root-container .list-articles {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
}

.root-container .footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-yonsei);
  width: 100%;
  margin-top: 2rem;
}

.root-container .footer {
  display: flex;
  justify-content: space-between;

  color: #ffffff;

  width: 100%;
  max-width: 1200px;
  padding: 2rem 2rem 15rem 2rem;
}

@media screen and (max-width: 799px) {
  .root-container .footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;

    padding: 2rem;
  }
}

.root-container .footer-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.root-container .footer-info-button {
  height: 2.5rem;
  padding-bottom: 0.5rem;
}
