.article-preview {
  display: flex;
  gap: 1rem;

  padding-top: 1rem;
  border-top: 1px solid theme("colors.gray");
}

@media screen and (max-width: 799px) {
  .article-preview {
    flex-direction: column;
  }
}

.article-preview img {
  object-fit: cover;
}

@media screen and (min-width: 800px) {
  .article-preview img {
    width: 12rem;
    height: 8rem;
    max-width: 30%;
  }
}

@media screen and (max-width: 799px) {
  .article-preview img {
    width: 12rem;
    height: 8rem;
  }
}

.article-preview a {
  font-size: 1.5em; /*24px*/
  font-weight: 600;
  line-height: 1.3em;

  margin: 1.15em 0;
}