.content h1, h2, h3, h4, h5, h6 {
    color: var(--color-yonsei);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.5em;
}

.content p {
    line-height: 140%;
}

.content h1 {
    font-size: 3em;
    /*48px*/
}

.content h2 {
    font-size: 2em;
    /*32px*/
}

.content h3 {
    font-size: 1.5em;
    /*24px*/
}

.content h4 {
    font-size: 1em;
    /*16px*/
}

.content h5 {
    font-size: 0.88em;
    /*14px*/
}

.content h6 {
    font-size: 0.75em;
    /*12px*/
}

.content strong {
    font-weight: 700;
}

.content em {
    font-weight: 500;
    font-style: italic;
}

.content b {
    font-weight: 500;
}

.content i {
    font-style: italic;
}

.content u {
    text-decoration: underline;
}

.content ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

.content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
}

.content li::marker {
    content: "◼  ";
    color: var(--color-yonsei);
}