.horizontal-nav-button {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 0.75rem 0;
  position: relative;
}

.horizontal-nav-button .label {
  color: var(--color-yonsei);
  font-weight: 700;

  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.horizontal-nav-button:hover {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: var(--color-yonsei);
}

.horizontal-nav-button:hover .label {
  margin-top: -5.00px;
}
